# the full path to the (unmodified) apk that will be patched
# when not deploying to a device, the output apk will be placed in the same directory
$global:BaseAPK = "path/to/base.apk"

# repository vendor / owner. 
# use 'revanced' for the official repos, or any other github username for custom
# the user provided here must have forked the revanced-cli, revanced-patches and revanced-integrations repo
$global:Vendor = "revanced"

# username for use with GitHub packages repository
# this will be your GitHub username
$global:GPRUserName = "your-username"

# PAT for use with GitHub packages repository
# the PAT must (at least) have the 'read:packages' scope
# a new token can be generated here: https://github.com/settings/tokens/new?scopes=read:packages&description=Revanced
$global:GPRToken = "ghp_longrandomkey"

# path to the Java17 JDK
# ReVanced recommends Azul JDK 17, which can be downloaded at https://www.azul.com/downloads/?package=jdk#download-openjdk
$global:JDKHome = "path/to/azul/jdk"

# path to the Android SDK directory
$global:SDKHome = "path/to/android/sdk"

# path to apktool.jar
# can be downloaded at https://ibotpeaches.github.io/Apktool/install/
$global:ApkTool = "path/to/apktool.jar"

# build configuration that controls what and how the patched app is build
$global:BuildConfigurations = @{
    # defaul configuration profile, this is always loaded. 
    # other profiles will overwrite the values in this configuration
    Default      = @{
        # use the debug build of integrations if true
        UseIntegrationsDebugBuild = $false

        # include the 'enable-debugging' patch
        IncludeDebuggingPatch     = $false

        # makes the patcher-cli wait for a debugger to attach
        # useful when debugging patches
        DebuggablePatcherCli      = $false

        # make the app wait for a debugger to attach when launching
        DebuggableAppLaunch       = $false

        # use build and deploy parameters for rooted devices
        Root                      = $false

        # the main (launcher) activity of the ReVanced app, used by the launch task
        MainActivity              = "app.revanced.android.youtube/com.google.android.youtube.app.honeycomb.Shell\`$HomeActivity"

        # additional arguments for patcher-cli, eg. to include or exclude patches
        AdditionalPatcherArgs     = @()
    }

    # debug build for non-root devices
    Debug        = @{
        UseIntegrationsDebugBuild = $true
        IncludeDebuggingPatch     = $true
        DebuggableAppLaunch       = $true
    }

    # debug build for rooted devices
    DebugRoot    = @{
        UseIntegrationsDebugBuild = $true
        IncludeDebuggingPatch     = $true
        DebuggableAppLaunch       = $true
        Root                      = $true
        MainActivity              = "com.google.android.youtube/com.google.android.youtube.app.honeycomb.Shell\`$HomeActivity"
    }

    # special config for patcher debugging
    PatcherDebug = @{
        UseIntegrationsDebugBuild = $true
        IncludeDebuggingPatch     = $true
        DebuggablePatcherCli      = $true
        DebuggableAppLaunch       = $true
    }
}
