# the full path to the (unmodified) apk that will be patched
# when not deploying to a device, the output apk will be placed in the same directory
$global:BaseAPK = "path/to/base.apk"

# the main (launcher) activity of the ReVanced app
# example for YT ReVanced: "app.revanced.android.youtube/com.google.android.youtube.app.honeycomb.Shell\`$HomeActivity"
if ($Root) {
    $global:MainActivity = "com.google.android.youtube/com.google.android.youtube.app.honeycomb.Shell\`$HomeActivity"
}
else {
    $global:MainActivity = "app.revanced.android.youtube/com.google.android.youtube.app.honeycomb.Shell\`$HomeActivity"
}

# repository vendor / owner. 
# use 'revanced' for the official repos, or any other github username for custom
# the user provided here must have forked the revanced-cli, revanced-patches and revanced-integrations repo
$global:Vendor = "revanced"

# username for use with GitHub packages repository
# this will be your GitHub username
$global:GPRUserName = "your-username"

# PAT for use with GitHub packages repository
# the PAT must (at least) have the 'read:packages' scope
# a new token can be generated here: https://github.com/settings/tokens/new?scopes=read:packages&description=Revanced
$global:GPRToken = "ghp_longrandomkey"

# path to the Java17 JDK
# ReVanced recommends Azul JDK 17, which can be downloaded at https://www.azul.com/downloads/?package=jdk#download-openjdk
$global:JDKHome = "path/to/azul/jdk"

# path to the Android SDK directory
$global:SDKHome = "path/to/android/sdk"

# path to apktool.jar
# can be downloaded at https://ibotpeaches.github.io/Apktool/install/
$global:ApkTool = "path/to/apktool.jar"
